<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}GED - Admin{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/sb-admin.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/global.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body id="page-top">
        <div id="wrapper">
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                    <div class="sidebar-brand-text mx-3">GED - Admin</div>
                </a>
                <hr class="sidebar-divider my-0">
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Interface
                </div>
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <span>Dashboard</span>
                    </a>
                </li>
            </ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <div id="successDelete" style="display: none;" class="card bg-success text-white shadow col-lg-4align-self-end">
                        <div class="card-body">
                            Supression réussie !
                        </div>
                    </div>
                    <div id="errorDelete" style="display: none;" class="card bg-danger text-white shadow col-lg-4align-self-end">
                        <div class="card-body">
                            Erreur lors de la supression ! <i><span class="errorInfo"></span></i>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        </div>
                        <div class="row">
                            {% block body %}{% endblock %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/sb-admin.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/bs-custom-file-input.min.js') }}"></script>
            <script src="{{ asset('js/global.js') }}"></script>
        {% endblock %}
    </body>
</html>
