{% extends 'base.html.twig' %}

{% block body %}
        <div class="col-lg-10">
            <div class="card mb-4">
                <div class="card-header py-6">
                    <h6 class="m-0 font-weight-bold text-primary">Fichiers</h6>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <th>Nom du fichier</th>
                    <th>Taille du fichier en ko</th>
                    <th>Date de dernière édition</th>
                    <th>Date de mise en ligne</th>
                    <th>Suppression du fichier</th>
                    </thead>
                    {% for file in filesUploaded %}
                        <tr id="file{{ file.id }}">
                            <td><a download href="{{ onlinePath }}{{ file.fileName }}">{{ file.originalName }}</a></td>
                            <td>{{ file.size }} ko(s)</td>
                            <td>{{ file.LastEditDate|date('Y-m-d  H:i') }}</td>
                            <td>{{ file.UploadDate|date('Y-m-d  H:i') }}</td>
                            <td>
                                <div class="btn btn-danger btn-icon-split">
                                    <span class="text deleteFile" data-fileid="{{ file.id }}">Suppression</span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="card mb-4">
                <div class="card-header py-6">
                    <h6 class="m-0 font-weight-bold text-primary">Upload fichier(s) </h6>
                </div>
                {{ form(form) }}
            </div>
        </div>
    <script type="text/javascript">
        const route = {
            'deleteFile': '{{ path('deleteFile', {'fileId': 0}) }}'
        }
    </script>
{% endblock %}